<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="airene">
  <title>DDNS-GO</title>
  <link rel="stylesheet" href="./static/bootstrap.min.css">
  <script src="./static/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="./static/common.css">
</head>

<body>
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a target="blank" href="https://github.com/airene/dnspod-go" class="navbar-brand d-flex align-items-center">
          <strong>DDNS-GO</strong>
        </a>
        <span class="badge badge-secondary">{{.Version}}</span>
      </div>
    </div>
  </header>

  <main role="main" style="margin-top: 15px; overflow: hidden;">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form>

          <button class="btn btn-primary submit_btn" style="margin-bottom: 15px;">Save</button>

          <div class="alert alert-success" style="display: none;">
            <strong id="resultMsg">保存成功</strong>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">DNSPOD配置 <small id="dns_help" class="form-text text-muted"><a target='_blank' href='https://console.dnspod.cn/account/token'>创建密钥</a></small></h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label for="DnsID" id="dnsIdLabel" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                  <input class="form-control" name="DnsID" id="DnsID" value="{{.DNS.ID}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="DnsSecret" id="dnsSecretLabel" class="col-sm-2 col-form-label">Secret</label>
                <div class="col-sm-10">
                  <input class="form-control" name="DnsSecret" id="DnsSecret" value="{{.DNS.Secret}}">
                </div>
              </div>

            </div>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">IPv4</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label for="ipv4_url" class="col-sm-2 col-form-label">获取IP的URL列表</label>
                <div class="col-sm-10">
                  <input type="url" class="form-control" name="Ipv4Url" id="ipv4_url" aria-describedby="ipv4_url_help" value="{{.Ipv4.URL}}">
                  <small id="ipv4_url_help" class="form-text text-muted">支持多个接口, 使用半角逗号分隔。如: https://myip4.ipip.net, https://ddns.oray.com/checkip, https://ip.3322.net</small>
                </div>
              </div>

              <div class="form-group row">
                <label for="ipv4_domains" class="col-sm-2 col-form-label">Domains</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="ipv4_domains" name="Ipv4Domains" rows="3" aria-describedby="ipv4_domains_help">
{{- range $i, $v := .Ipv4.Domains}}
{{$v}}
{{- end -}}
                  </textarea>
                  <small id="ipv4_domains_help" class="form-text text-muted">一行一个域名</small>
                </div>
              </div>

            </div>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">其它配置</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label for="NotAllowWanAccess" class="col-sm-2 col-form-label">禁止公网访问</label>
                <div class="col-sm-10">
                  <input type="checkbox" class="form-check-inline" style="margin-top: 5px;" id="NotAllowWanAccess" name="NotAllowWanAccess" {{if eq $.NotAllowWanAccess true}}checked{{end}}>
                  <small id="NotAllowWanAccess_help" class="form-text text-muted">默认启用, 可禁止从公网访问本页面</small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">TTL</label>
                <div class="col-sm-10">
                  <select class="form-control" name="TTL" value="{{.TTL}}">
                    <option value="" {{if eq .TTL ""}}selected{{end}}>自动</option>
                    <option value="1" {{if eq .TTL "1"}}selected{{end}}>1秒</option>
                    <option value="5" {{if eq .TTL "5"}}selected{{end}}>5秒</option>
                    <option value="10" {{if eq .TTL "10"}}selected{{end}}>10秒</option>
                    <option value="60" {{if eq .TTL "60"}}selected{{end}}>1分钟</option>
                    <option value="120" {{if eq .TTL "120"}}selected{{end}}>2分钟</option>
                    <option value="600" {{if eq .TTL "600"}}selected{{end}}>10分钟</option>
                    <option value="1800" {{if eq .TTL "1800"}}selected{{end}}>30分钟</option>
                    <option value="3600" {{if eq .TTL "3600"}}selected{{end}}>1小时</option>
                  </select>
                  <small id="ttl_help" class="form-text text-muted">如账号支持更小的TTL, 可修改. IP有变化时才会更新TTL</small>
                </div>
              </div>

            </div>
          </div>

          <button class="btn btn-primary submit_btn" style="margin-bottom: 15px;">Save</button>

        </form>
      </div>
      <div class="col-md-3">
        <p class="font-weight-light text-break" style="margin-top: 115px;font-size: 13px;" id="logs"></p>
        <button type="button" class="btn btn-outline-primary btn-sm" id="clearLogBtn">清空日志</button>
      </div>
    </div>
  </main>
</body>
  <script>
    $(function(){
      $(".submit_btn").on('click',function(e) {
        e.preventDefault();
        $('body').animate({ scrollTop: 0 }, 300);
        $.ajax({
          method: "POST",
          url: "./save",
          data: $('form').serialize(),
          success: function (result) {
            $('.alert').css("display", "block");
            if (result !== "ok") {
              $('.alert').addClass("alert-danger")
              $('#resultMsg').html(result)
            } else {
              // ok
              setTimeout(function(){
                $('.alert').css("display", "none");
              }, 3000)
            }
          },
          error: function(jqXHR) {
            alert(jqXHR.statusText);
          }
        })
      })

    })

  </script>

<script>
  function getLogs() {
    $.get("./logs", function(result){
      $("#logs").html(result)
    })
  }
  getLogs()
  setInterval(getLogs, 5 * 1000)
  $(function(){
    $("#clearLogBtn").on("click", function(e) {
      e.preventDefault();
      $.ajax({
          method: "GET",
          url: "./clearLog",
          success: function() {
            getLogs()
          },
          error: function(jqXHR) {
            alert(jqXHR.statusText);
          }
        })
    })
  })
</script>

</html>
